body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px

.title
  margin 50px
  margin-left 15%
  width 50%
.article
  margin 20px
  margin-left 15%
  .body
      font-size 15px
      width 50%
      text-align justify
  .comments
      h3
        text-align left
      .comment
        margin 10px
        .comment_person
          font-size 14px
          color red
          margin-left 10px
        .comment_content
          font-size 12px
          margin-left 20px
        .comment_delete_buttons
          font-size 18px
          margin 10px